
h1{
    text-align: center;
}

p1{
    color: green;
}
p3{
    color: red; 
    font: caption;   
}
p4{
    color: blue;    
    font-style: italic;
}

p5{
    color: goldenrod;
    font-size: xx-large;
}
span{
    color: indigo;
    font-size: 25px;
    font-weight: lighter;
}